<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

</head>
<body>
    <main class="container">
        <h1>Events</h1>
        <form class="form-horizontal" th:object="${eventCommand}"  method="post">
            <table>
                <tr th:each="event : ${listevents}">
                    <td><input type="checkbox" th:id="event.eventId"></td>
                    <td th:text="${event.eventId}"></td>
                    <td th:text="${event.description}"></td>
                    <td th:text="${event.ticketsLeft}"></td>
                </tr>
            </table>
            <button class="btn btn-default" type="submit">Select</button>
        </form>
    </main>
</body>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</html>
