<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>List Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

</head>
<body>
    <main class="container">
        <h1>Events</h1>

        <form:select>

        </form:select>

        <form class="form-horizontal" th:object="${eventCommand}" th:action="@{/registration}"  method="post">
            <select id="eventId" name="eventId">
                <option th:value="${event.eventId}">${event.description}</option>

            </select>


            <button class="btn btn-default" type="submit">Select</button>
        </form>
    </main>
</body>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</html>
