<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup Mcc Event UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

</head>
<body>
<main class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="usernameInput">Username</label>
                    <input type="text" class="form-control" id="usernameInput" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Enter password">
                    <!--small id="emailHelp" class="form-text text-muted">Customer username.</small-->
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Password</label>
                    <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm Enter password">
                    <!--small id="emailHelp" class="form-text text-muted">Customer username.</small-->

                </div>
                <a href="#" class="btn btn-primary" style="margin-top: 20px;">Login</a>
            </form>
        </div>
    </div>
</main>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>
